Repository terascope/teraslice, pull requests merged in 2019-08, with the labels that each got.

#1291 v0.54.5 Fix node 8 promise compatibility
  docs/packages/docker-compose-js/overview.md
  package.json
  packages/chunked-file-reader/package.json
  packages/data-access-plugin/package.json
  packages/data-access/package.json
  packages/data-types/package.json
  packages/elasticsearch-api/package.json
  packages/elasticsearch-store/package.json
  packages/job-components/package.json
  packages/terafoundation/package.json
  packages/teraslice-messaging/package.json
  packages/teraslice/lib/cluster/cluster_master.js
  packages/teraslice/lib/cluster/services/cluster/backends/native/index.js
  packages/teraslice/lib/cluster/services/cluster/backends/native/messaging.js
  packages/teraslice/lib/cluster/services/execution.js
  packages/teraslice/lib/cluster/storage/assets.js
  packages/teraslice/lib/utils/file_utils.js
  packages/teraslice/lib/workers/assets/loader.js
  packages/teraslice/lib/workers/assets/spawn.js
  packages/teraslice/lib/workers/helpers/worker-shutdown.js
  packages/teraslice/package.json
  packages/teraslice/test/node_master-spec.js
  packages/teraslice/test/processors/script/script-spec.js
  packages/teraslice/test/services/messaging-spec.js
  packages/teraslice/test/workers/execution-controller/execution-controller-spec.js
  packages/teraslice/test/workers/execution-controller/execution-special-test-cases-spec.js
  packages/teraslice/test/workers/execution-controller/execution-test-cases-spec.js
  packages/teraslice/test/workers/execution-controller/recovery-spec.js
  packages/teraslice/test/workers/helpers/execution-controller-helper.js
  packages/teraslice/test/workers/worker/worker-spec.js
  packages/ts-transforms/package.json
  packages/ui-components/package.json
  packages/ui-core/package.json
  packages/ui-data-access/package.json
  packages/utils/package.json
  packages/utils/src/promises.ts
  packages/xlucene-evaluator/package.json
  scripts/build-cleanup.sh
Labels: bug, pkg/teraslice, pkg/utils

#1292 Build UI with new data types
  packages/data-access-plugin/package.json
  packages/data-access/package.json
  packages/data-types/package.json
  packages/data-types/src/interfaces.ts
  packages/elasticsearch-store/package.json
  packages/ui-core/package.json
  packages/ui-data-access/package.json
Labels: bug, pkg/data-types, pkg/ui-data-access

#1301 v0.54.7 Add performance metrics
  .travis.yml
  docs/jobs/configuration.md
  e2e/test/cases/cluster/state-spec.js
  jest.config.base.js
  package.json
  packages/data-access-plugin/package.json
  packages/job-components/package.json
  packages/job-components/src/interfaces/jobs.ts
  packages/job-components/src/job-schemas.ts
  packages/job-components/test/config-validators-spec.ts
  packages/scripts/package.json
  packages/scripts/scripts/build-typedoc.js
  packages/scripts/src/cmds/test.ts
  packages/scripts/src/helpers/test-runner/index.ts
  packages/scripts/src/helpers/test-runner/interfaces.ts
  packages/scripts/src/helpers/test-runner/utils.ts
  packages/teraslice-cli/package.json
  packages/teraslice-op-test-harness/package.json
  packages/teraslice-state-storage/package.json
  packages/teraslice-test-harness/package.json
  packages/teraslice/lib/workers/execution-controller/index.js
  packages/teraslice/lib/workers/metrics/index.js
  packages/teraslice/lib/workers/worker/index.js
  packages/teraslice/package.json
  packages/teraslice/test/workers/helpers/configs.js
  packages/ui-components/package.json
  packages/ui-components/src/SuccessMessage.tsx
  packages/ui-core/package.json
  packages/ui-core/src/components/Logout.tsx
  packages/ui-data-access/package.json
  packages/utils/bench/data-entity-suite.js
  packages/xlucene-evaluator/package.json
  yarn.lock
Labels: enhancement, pkg/job-components, pkg/teraslice

#1302 v0.54.8 - Fix es compatibility in 5.6
  .travis.yml
  e2e/test/misc.js
  packages/data-access-plugin/package.json
  packages/data-access-plugin/test/helpers/elasticsearch.ts
  packages/data-access-plugin/test/manager-plugin-spec.ts
  packages/data-access/package.json
  packages/data-access/test/helpers/elasticsearch.ts
  packages/data-access/test/search-access-spec.ts
  packages/data-types/package.json
  packages/elasticsearch-api/index.js
  packages/elasticsearch-api/package.json
  packages/elasticsearch-store/package.json
  packages/elasticsearch-store/src/utils/elasticsearch.ts
  packages/elasticsearch-store/test/helpers/elasticsearch.ts
  packages/terafoundation/package.json
  packages/teraslice-state-storage/package.json
  packages/teraslice/package.json
  packages/ts-transforms/package.json
  packages/ui-components/package.json
  packages/ui-data-access/package.json
  packages/xlucene-evaluator/package.json
Labels: bug, pkg/elasticsearch-api, pkg/elasticsearch-store, pkg/teraslice, release

#1309 Fix npm publish in ts-scripts
  .travis.yml
  packages/scripts/package.json
  packages/scripts/src/helpers/publish/utils.ts
Labels: bug, pkg/scripts

#1311 Ts transforms notification
  packages/scripts/package.json
  packages/scripts/src/cmds/test.ts
  packages/ts-transforms/package.json
  packages/ts-transforms/src/interfaces.ts
  packages/ts-transforms/src/loader/rules-loader.ts
  packages/ts-transforms/src/phases/selector-phase.ts
  packages/ts-transforms/test/loader/rules-loader-spec.ts
  packages/ts-transforms/test/matcher-spec.ts
Labels: pkg/scripts, pkg/ts-transforms

#1312 v0.54.10 Fixes to max old space
  packages/teraslice/lib/cluster/services/cluster/backends/kubernetes/k8sResource.js
  packages/teraslice/lib/cluster/services/cluster/backends/kubernetes/utils.js
  packages/teraslice/package.json
  packages/teraslice/test/lib/cluster/services/cluster/backends/kubernetes/k8sResource-spec.js
  packages/teraslice/test/lib/cluster/services/cluster/backends/kubernetes/utils-spec.js
Labels: bug, k8s, pkg/teraslice

#1310 Data Type mapping fixes
  packages/data-access-plugin/bin/simple-migrate.js
  packages/data-access-plugin/package.json
  packages/data-access/package.json
  packages/data-access/src/acl-manager.ts
  packages/data-access/src/models/config/data-types.ts
  packages/data-access/src/models/config/spaces.ts
  packages/data-types/src/interfaces.ts
  packages/elasticsearch-store/package.json
  packages/elasticsearch-store/src/index-manager.ts
  packages/elasticsearch-store/src/index-store.ts
  packages/elasticsearch-store/src/interfaces.ts
  packages/elasticsearch-store/test/helpers/simple-index.ts
  packages/elasticsearch-store/test/index-manager-migrate-spec.ts
  packages/elasticsearch-store/test/index-manager-spec.ts
  packages/elasticsearch-store/test/index-model-spec.ts
  packages/ui-components/package.json
  packages/ui-data-access/package.json
Labels: pkg/data-access, pkg/elasticsearch-store

#1315 Fix Docker build in CI
  packages/scripts/package.json
  packages/scripts/src/helpers/test-runner/utils.ts
Labels: pkg/scripts

#1317 Add BigMap util to allow cache allocation to above 16million keys
  packages/chunked-file-reader/package.json
  packages/data-access-plugin/package.json
  packages/data-access/package.json
  packages/data-types/package.json
  packages/elasticsearch-api/package.json
  packages/elasticsearch-store/package.json
  packages/job-components/package.json
  packages/scripts/package.json
  packages/terafoundation/package.json
  packages/teraslice-messaging/package.json
  packages/teraslice-state-storage/package.json
  packages/teraslice-state-storage/src/cached-state-storage/index.ts
  packages/teraslice-state-storage/src/elasticsearch-state-storage/index.ts
  packages/teraslice-state-storage/src/interfaces.ts
  packages/teraslice-state-storage/test/cache-state-storage-spec.ts
  packages/teraslice-state-storage/test/elasticsearch-state-storage-spec.ts
  packages/teraslice/package.json
  packages/ts-transforms/package.json
  packages/ui-components/package.json
  packages/ui-core/package.json
  packages/ui-data-access/package.json
  packages/utils/bench/map-suite.js
  packages/utils/package.json
  packages/utils/src/big-map.ts
  packages/utils/src/data-entity.ts
  packages/utils/src/index.ts
  packages/utils/test/big-map-spec.ts
  packages/xlucene-evaluator/package.json
Labels: enhancement, pkg/teraslice-state-storage, pkg/utils

#1324 Fix max query size
  packages/data-access-plugin/package.json
  packages/data-access/package.json
  packages/data-access/src/search-access.ts
  packages/data-access/test/search-access-spec.ts
  packages/ui-components/package.json
  packages/ui-data-access/package.json
Labels: bug

#1327 DataAccess UI Fixes
  packages/data-access-plugin/package.json
  packages/data-access/package.json
  packages/elasticsearch-store/package.json
  packages/elasticsearch-store/src/index-model.ts
  packages/ui-components/package.json
  packages/ui-components/src/AuthUserQuery.tsx
  packages/ui-components/src/index.ts
  packages/ui-core/package.json
  packages/ui-core/src/ApolloWrapper.tsx
  packages/ui-core/src/IndexApp.test.tsx
  packages/ui-core/src/IndexApp.tsx
  packages/ui-core/src/IndexRouter.tsx
  packages/ui-core/src/components/Login.tsx
  packages/ui-core/src/components/Logout.tsx
  packages/ui-data-access/package.json
  packages/ui-data-access/src/ModelForm/Form.tsx
  packages/ui-data-access/src/ModelForm/FormMutation.tsx
  packages/ui-data-access/src/ModelForm/ModelForm.tsx
  packages/ui-data-access/src/ModelForm/hooks.ts
  packages/ui-data-access/src/ModelList/Query.tsx
  packages/ui-data-access/src/User/Form/TokenForm.tsx
  packages/ui-data-access/src/View/Form/index.tsx
  yarn.lock
Labels: pkg/data-access, pkg/data-access-plugin, pkg/elasticsearch-store, pkg/ui-components, pkg/ui-core, pkg/ui-data-access

#1338 Fix daily builds and improved scripts
  packages/scripts/package.json
  packages/scripts/src/cmds/bump.ts
  packages/scripts/src/cmds/publish.ts
  packages/scripts/src/cmds/test.ts
  packages/scripts/src/command.ts
  packages/scripts/src/helpers/args.ts
  packages/scripts/src/helpers/bump/index.ts
  packages/scripts/src/helpers/misc.ts
  packages/scripts/src/helpers/publish/index.ts
  packages/scripts/src/helpers/publish/utils.ts
  packages/scripts/src/helpers/sync/index.ts
Labels: monorepo, pkg/scripts

#1339 v0.54.11 - Fix unhandled rejection and teraslice-state-storage improvements
  package.json
  packages/data-access-plugin/package.json
  packages/elasticsearch-api/index.js
  packages/elasticsearch-api/package.json
  packages/elasticsearch-api/types/index.d.ts
  packages/terafoundation/package.json
  packages/teraslice-messaging/package.json
  packages/teraslice-messaging/src/messenger/client.ts
  packages/teraslice-messaging/src/messenger/core.ts
  packages/teraslice-state-storage/package.json
  packages/teraslice-state-storage/src/cached-state-storage/index.ts
  packages/teraslice-state-storage/src/elasticsearch-state-storage/index.ts
  packages/teraslice-state-storage/src/interfaces.ts
  packages/teraslice-state-storage/test/elasticsearch-state-storage-spec.ts
  packages/teraslice/lib/cluster/node_master.js
  packages/teraslice/lib/cluster/storage/backends/elasticsearch_store.js
  packages/teraslice/lib/workers/execution-controller/index.js
  packages/teraslice/lib/workers/helpers/worker-shutdown.js
  packages/teraslice/package.json
  packages/utils/package.json
  packages/utils/src/arrays.ts
Labels: bug, pkg/teraslice, pkg/teraslice-messaging, pkg/teraslice-state-storage

#1344 Fix misc things
  e2e/package.json
  package.json
  packages/data-access-plugin/package.json
  packages/data-access/package.json
  packages/data-access/src/acl-manager.ts
  packages/data-access/test/acl-manager-spec.ts
  packages/data-types/package.json
  packages/elasticsearch-store/package.json
  packages/scripts/package.json
  packages/scripts/src/cmds/publish.ts
  packages/scripts/src/cmds/test.ts
  packages/scripts/src/helpers/publish/index.ts
  packages/scripts/src/helpers/publish/interfaces.ts
  packages/scripts/src/helpers/publish/utils.ts
  packages/scripts/src/helpers/test-runner/index.ts
  packages/scripts/test/publish-spec.ts
  packages/ts-transforms/package.json
  packages/ui-components/package.json
  packages/ui-data-access/package.json
  website/package.json
  yarn.lock
Labels: bug, pkg/data-access, pkg/data-access-plugin, pkg/data-types, pkg/scripts

#1352 v0.55.1 - Add env_vars to job and teraslice config
  docs/configuration/overview.md
  docs/jobs/configuration.md
  packages/data-access-plugin/package.json
  packages/job-components/package.json
  packages/job-components/src/interfaces/context.ts
  packages/job-components/src/interfaces/jobs.ts
  packages/job-components/src/job-schemas.ts
  packages/job-components/src/operations/job-observer.ts
  packages/job-components/src/test-helpers.ts
  packages/job-components/test/config-validators-spec.ts
  packages/job-components/test/operations/job-observer-spec.ts
  packages/teraslice-op-test-harness/package.json
  packages/teraslice-test-harness/package.json
  packages/teraslice/lib/cluster/services/cluster/backends/kubernetes/k8sResource.js
  packages/teraslice/lib/cluster/services/cluster/backends/kubernetes/utils.js
  packages/teraslice/lib/config/schemas/system.js
  packages/teraslice/package.json
  packages/teraslice/test/lib/cluster/services/cluster/backends/kubernetes/k8sResource-spec.js
Labels: enhancement, k8s, pkg/job-components, pkg/teraslice

#1355 v0.55.2 - A few fixes
  packages/chunked-file-reader/package.json
  packages/data-access-plugin/package.json
  packages/data-access/package.json
  packages/data-types/package.json
  packages/elasticsearch-api/package.json
  packages/elasticsearch-store/package.json
  packages/job-components/package.json
  packages/job-components/src/execution-context/api.ts
  packages/job-components/src/execution-context/utils.ts
  packages/job-components/src/index.ts
  packages/job-components/src/operations/core/api-core.ts
  packages/job-components/src/operations/core/operation-core.ts
  packages/job-components/src/operations/core/slicer-core.ts
  packages/job-components/src/utils.ts
  packages/scripts/package.json
  packages/terafoundation/package.json
  packages/teraslice-messaging/package.json
  packages/teraslice-op-test-harness/package.json
  packages/teraslice-state-storage/package.json
  packages/teraslice-state-storage/src/elasticsearch-state-storage/index.ts
  packages/teraslice-test-harness/package.json
  packages/teraslice/package.json
  packages/ts-transforms/package.json
  packages/ui-components/package.json
  packages/ui-core/package.json
  packages/ui-data-access/package.json
  packages/utils/package.json
  packages/xlucene-evaluator/package.json
Labels: pkg/job-components, pkg/teraslice, pkg/teraslice-state-storage

#1366 v0.55.4 - Fixes to messaging and logging
  docs/configuration/overview.md
  packages/job-components/src/builtin/test-reader/slicer.ts
  packages/terafoundation/lib/api/make-logger.js
  packages/teraslice-messaging/package.json
  packages/teraslice-messaging/src/cluster-master/interfaces.ts
  packages/teraslice-messaging/src/cluster-master/server.ts
  packages/teraslice-messaging/src/execution-controller/interfaces.ts
  packages/teraslice-messaging/src/execution-controller/server.ts
  packages/teraslice-messaging/src/messenger/client.ts
  packages/teraslice-messaging/src/messenger/core.ts
  packages/teraslice-messaging/src/messenger/interfaces.ts
  packages/teraslice-messaging/src/messenger/server.ts
  packages/teraslice-messaging/test/messenger-spec.ts
  packages/teraslice/lib/cluster/storage/backends/elasticsearch_store.js
  packages/teraslice/lib/cluster/storage/state.js
  packages/teraslice/lib/config/schemas/system.js
  packages/teraslice/lib/workers/execution-controller/index.js
  packages/teraslice/lib/workers/helpers/worker-shutdown.js
  packages/teraslice/lib/workers/worker/index.js
  packages/teraslice/package.json
Labels: pkg/teraslice, pkg/teraslice-messaging

#1368 Fix daily docker tag name and e2e test improvements
  .gitignore
  e2e/docker-compose.yml
  e2e/logs/.gitkeep
  e2e/package.json
  e2e/scripts/logs.sh
  e2e/test/cases/assets/simple-spec.js
  e2e/test/cases/cluster/job-state-spec.js
  e2e/test/fixtures/jobs/generator-asset.json
  e2e/test/global.setup.js
  e2e/test/misc.js
  e2e/test/setup-config.js
  packages/scripts/package.json
  packages/scripts/src/helpers/publish/utils.ts
  packages/scripts/src/helpers/test-runner/utils.ts
  packages/teraslice/lib/cluster/services/cluster/backends/native/messaging.js
Labels: ci, monorepo, pkg/scripts

#1370 v0.55.5 - Set pingTimeout on socket.io client
  packages/teraslice-messaging/package.json
  packages/teraslice-messaging/src/cluster-master/client.ts
  packages/teraslice-messaging/src/cluster-master/interfaces.ts
  packages/teraslice-messaging/src/execution-controller/client.ts
  packages/teraslice-messaging/src/execution-controller/interfaces.ts
  packages/teraslice-messaging/src/messenger/client.ts
  packages/teraslice-messaging/src/messenger/interfaces.ts
  packages/teraslice-messaging/src/messenger/server.ts
  packages/teraslice-messaging/test/cluster-master-spec.ts
  packages/teraslice-messaging/test/execution-controller-spec.ts
  packages/teraslice-messaging/test/messenger-spec.ts
  packages/teraslice/lib/workers/execution-controller/index.js
  packages/teraslice/lib/workers/worker/index.js
  packages/teraslice/package.json
  packages/teraslice/test/workers/execution-controller/execution-special-test-cases-spec.js
  packages/teraslice/test/workers/execution-controller/execution-test-cases-spec.js
Labels: bug, pkg/teraslice, pkg/teraslice-messaging

#1391 v0.56.1 - Add raw data entity encoding
  .gitignore
  docs/development/overview.md
  packages/chunked-file-reader/package.json
  packages/data-access-plugin/package.json
  packages/data-access/package.json
  packages/data-types/package.json
  packages/elasticsearch-api/package.json
  packages/elasticsearch-store/package.json
  packages/job-components/package.json
  packages/job-components/src/interfaces/jobs.ts
  packages/job-components/src/job-schemas.ts
  packages/scripts/package.json
  packages/terafoundation/package.json
  packages/teraslice-cli/package.json
  packages/teraslice-client-js/package.json
  packages/teraslice-messaging/package.json
  packages/teraslice-op-test-harness/package.json
  packages/teraslice-state-storage/package.json
  packages/teraslice-test-harness/package.json
  packages/teraslice/package.json
  packages/ts-transforms/package.json
  packages/ui-components/package.json
  packages/ui-core/package.json
  packages/ui-data-access/package.json
  packages/utils/package.json
  packages/utils/src/entities/data-entity.ts
  packages/utils/src/entities/index.ts
  packages/utils/src/entities/interfaces.ts
  packages/utils/src/entities/utils.ts
  packages/utils/src/index.ts
  packages/utils/src/objects.ts
  packages/utils/src/utils.ts
  packages/utils/test/data-entity-spec.ts
  packages/xlucene-evaluator/package.json
  scripts/publish-documentation.sh
  website/package.json
  website/yarn.lock
Labels: enhancement, pkg/job-components, pkg/teraslice, pkg/utils

#1393 Fail loudly on getClient
  packages/data-access-plugin/package.json
  packages/job-components/package.json
  packages/job-components/src/register-apis.ts
  packages/job-components/test/register-apis-spec.ts
  packages/teraslice-client-js/package.json
  packages/teraslice-op-test-harness/package.json
  packages/teraslice-test-harness/package.json
  packages/teraslice/package.json
Labels: pkg/job-components, pkg/teraslice-op-test-harness, pkg/teraslice-test-harness

#1394 v0.56.2 - Fixes to DataEntity changes
  packages/chunked-file-reader/package.json
  packages/data-access-plugin/package.json
  packages/data-access/package.json
  packages/data-types/package.json
  packages/elasticsearch-api/package.json
  packages/elasticsearch-store/package.json
  packages/job-components/package.json
  packages/scripts/package.json
  packages/terafoundation/package.json
  packages/teraslice-cli/generator-templates/new-asset/package.json
  packages/teraslice-cli/package.json
  packages/teraslice-client-js/package.json
  packages/teraslice-messaging/package.json
  packages/teraslice-op-test-harness/package.json
  packages/teraslice-state-storage/package.json
  packages/teraslice-test-harness/package.json
  packages/teraslice/package.json
  packages/ts-transforms/package.json
  packages/ui-components/package.json
  packages/ui-core/package.json
  packages/ui-data-access/package.json
  packages/utils/package.json
  packages/utils/src/arrays.ts
  packages/utils/src/entities/data-entity.ts
  packages/utils/src/entities/interfaces.ts
  packages/utils/src/entities/utils.ts
  packages/utils/src/objects.ts
  packages/utils/test/data-entity-spec.ts
  packages/xlucene-evaluator/package.json
Labels: bug, pkg/job-components, pkg/utils

#1396 Fixes and improved monorepo scripts
  docs/development/e2e.md
  e2e/README.md
  e2e/package.json
  package.json
  packages/eslint-config/index.js
  packages/eslint-config/lib/index.js
  packages/eslint-config/lib/overrides.js
  packages/eslint-config/lib/rules/index.js
  packages/eslint-config/package.json
  packages/eslint-config/test/index-spec.js
  packages/scripts/package.json
  packages/scripts/src/cmds/bump.ts
  packages/scripts/src/cmds/sync.ts
  packages/scripts/src/helpers/bump/index.ts
  packages/scripts/src/helpers/docs/overview.ts
  packages/scripts/src/helpers/interfaces.ts
  packages/scripts/src/helpers/misc.ts
  packages/scripts/src/helpers/packages.ts
  packages/scripts/src/helpers/publish/index.ts
  packages/scripts/src/helpers/publish/utils.ts
  packages/scripts/src/helpers/scripts.ts
  packages/scripts/src/helpers/sync/index.ts
  packages/scripts/src/helpers/sync/interfaces.ts
  packages/scripts/src/helpers/sync/utils.ts
  packages/scripts/src/helpers/test-runner/index.ts
  packages/scripts/src/helpers/test-runner/utils.ts
  packages/scripts/test/sync-spec.ts
  packages/teraslice-cli/generator-templates/new-asset/package.json
  website/sidebars.json
Labels: chore, pkg/eslint-config, pkg/scripts
