Repository terascope/teraslice, pull requests merged in 2019-09, with the labels that each got.

#1332 Query Point Updates
  packages/data-access-plugin/package.json
  packages/data-access-plugin/src/interfaces.ts
  packages/data-access-plugin/src/manager/index.ts
  packages/data-access-plugin/src/manager/utils.ts
  packages/data-access-plugin/src/query-point/dynamic-schema.ts
  packages/data-access-plugin/src/query-point/dynamic-server.ts
  packages/data-access-plugin/src/query-point/index.ts
  packages/data-access-plugin/src/query-point/interfaces.ts
  packages/data-access-plugin/src/query-point/join.ts
  packages/data-access-plugin/src/query-point/plugins.ts
  packages/data-access-plugin/src/query-point/resolvers/index.ts
  packages/data-access-plugin/src/query-point/utils.ts
  packages/data-access-plugin/test/manager-utils-spec.ts
  packages/data-access-plugin/test/query-point-plugin-spec.ts
  packages/data-access/package.json
  packages/data-access/src/search-access.ts
  packages/data-access/test/search-access-spec.ts
  packages/ui-components/package.json
  packages/ui-data-access/package.json
  yarn.lock
Labels: pkg/data-access, pkg/data-access-plugin

#1403 v0.56.3 - Minor fixes to native clustering
  packages/teraslice/lib/cluster/services/cluster/backends/native/index.js
  packages/teraslice/package.json
Labels: bug, pkg/teraslice

#1397 Fix xlucene peg-engine require
  .eslintignore
  jest.config.base.js
  packages/data-access-plugin/package.json
  packages/data-access/package.json
  packages/data-types/package.json
  packages/elasticsearch-store/package.json
  packages/ts-transforms/package.json
  packages/ui-data-access/package.json
  packages/xlucene-evaluator/.gitignore
  packages/xlucene-evaluator/package.json
  packages/xlucene-evaluator/peg/lucene.pegjs
  packages/xlucene-evaluator/scripts/generate-engine.js
  packages/xlucene-evaluator/src/parser/context.ts
  packages/xlucene-evaluator/src/parser/engine.ts
  packages/xlucene-evaluator/src/parser/interfaces.ts
  packages/xlucene-evaluator/src/parser/parser.ts
  packages/xlucene-evaluator/src/parser/utils.ts
  yarn.lock
Labels: pkg/xlucene-evaluator

#1404 Monorepo and scripts improvements fixes
  .dockerignore
  .travis.yml
  docs/development/overview.md
  docs/packages/generator-teraslice/overview.md
  packages/data-access-plugin/package.json
  packages/data-access/package.json
  packages/data-types/package.json
  packages/elasticsearch-api/package.json
  packages/elasticsearch-store/package.json
  packages/generator-teraslice/generators/package/utils/package-json.js
  packages/scripts/package.json
  packages/scripts/src/cmds/test.ts
  packages/scripts/src/helpers/config.ts
  packages/scripts/src/helpers/test-runner/index.ts
  packages/scripts/src/helpers/test-runner/interfaces.ts
  packages/scripts/src/helpers/test-runner/services.ts
  packages/terafoundation/package.json
  packages/teraslice-state-storage/package.json
  packages/teraslice/package.json
  packages/ui-data-access/package.json
  scripts/ci-setup.sh
  tsconfig.json
  types/debugnyan/index.d.ts
Labels: chore, pkg/scripts

#1405 ts-scripts fixes
  e2e/package.json
  e2e/test/helpers.js
  e2e/test/wait.js
  package.json
  packages/chunked-file-reader/package.json
  packages/data-access-plugin/package.json
  packages/data-access/package.json
  packages/data-types/package.json
  packages/docker-compose-js/package.json
  packages/elasticsearch-api/package.json
  packages/elasticsearch-store/package.json
  packages/error-parser/package.json
  packages/eslint-config/package.json
  packages/generator-teraslice/package.json
  packages/job-components/package.json
  packages/queue/package.json
  packages/scripts/package.json
  packages/scripts/src/cmds/bump.ts
  packages/scripts/src/cmds/publish.ts
  packages/scripts/src/helpers/bump/index.ts
  packages/scripts/src/helpers/config.ts
  packages/scripts/src/helpers/interfaces.ts
  packages/scripts/src/helpers/misc.ts
  packages/scripts/src/helpers/packages.ts
  packages/scripts/src/helpers/publish/utils.ts
  packages/scripts/src/helpers/scripts.ts
  packages/scripts/src/helpers/sync/utils.ts
  packages/terafoundation/package.json
  packages/teraslice-cli/package.json
  packages/teraslice-client-js/package.json
  packages/teraslice-client-js/src/assets.ts
  packages/teraslice-client-js/src/client.ts
  packages/teraslice-client-js/src/cluster.ts
  packages/teraslice-client-js/src/ex.ts
  packages/teraslice-client-js/src/interfaces.ts
  packages/teraslice-client-js/src/jobs.ts
  packages/teraslice-messaging/package.json
  packages/teraslice-op-test-harness/package.json
  packages/teraslice-state-storage/package.json
  packages/teraslice-test-harness/package.json
  packages/teraslice/package.json
  packages/ts-transforms/package.json
  packages/ui-components/package.json
  packages/ui-core/package.json
  packages/ui-data-access/package.json
  packages/utils/package.json
  packages/xlucene-evaluator/package.json
Labels: bug, pkg/scripts

#1402 Add more DataEntity methods
  docs/jobs/data-entities.md
  docs/jobs/types-of-operations.md
  packages/chunked-file-reader/package.json
  packages/data-types/package.json
  packages/elasticsearch-api/package.json
  packages/elasticsearch-store/package.json
  packages/job-components/package.json
  packages/scripts/package.json
  packages/terafoundation/package.json
  packages/teraslice-cli/package.json
  packages/teraslice-client-js/package.json
  packages/teraslice-messaging/package.json
  packages/teraslice-op-test-harness/package.json
  packages/teraslice-state-storage/package.json
  packages/teraslice-state-storage/src/cached-state-storage/index.ts
  packages/teraslice-state-storage/src/elasticsearch-state-storage/index.ts
  packages/teraslice-state-storage/src/interfaces.ts
  packages/teraslice-state-storage/test/cache-state-storage-spec.ts
  packages/teraslice-state-storage/test/elasticsearch-state-storage-spec.ts
  packages/teraslice-test-harness/package.json
  packages/teraslice/package.json
  packages/ts-transforms/package.json
  packages/ts-transforms/src/operations/lib/transforms/extraction.ts
  packages/ts-transforms/src/phases/extraction-phase.ts
  packages/utils/bench/data-encoding-suite.js
  packages/utils/bench/data-entity-suite.js
  packages/utils/bench/map-suite.js
  packages/utils/package.json
  packages/utils/src/dates.ts
  packages/utils/src/entities/data-entity.ts
  packages/utils/src/entities/interfaces.ts
  packages/utils/src/entities/utils.ts
  packages/utils/src/interfaces.ts
  packages/utils/src/misc.ts
  packages/utils/src/utils.ts
  packages/utils/test/data-entity-spec.ts
  packages/xlucene-evaluator/package.json
  scripts/cleanup.sh
  scripts/publish-documentation.sh
Labels: enhancement, pkg/utils

#1427 v0.57.0 - Minor DataEntity API improvements
  packages/teraslice-op-test-harness/package.json
  packages/teraslice-test-harness/package.json
  packages/teraslice/package.json
Labels: pkg/teraslice

#1428 v0.57.1 - Fixes to DataEntity API changes
  packages/chunked-file-reader/package.json
  packages/data-types/package.json
  packages/elasticsearch-api/package.json
  packages/elasticsearch-store/package.json
  packages/job-components/package.json
  packages/scripts/package.json
  packages/terafoundation/package.json
  packages/teraslice-cli/package.json
  packages/teraslice-client-js/package.json
  packages/teraslice-messaging/package.json
  packages/teraslice-op-test-harness/package.json
  packages/teraslice-state-storage/package.json
  packages/teraslice-test-harness/package.json
  packages/teraslice/package.json
  packages/ts-transforms/package.json
  packages/utils/package.json
  packages/utils/src/entities/data-entity.ts
  packages/utils/test/data-entity-spec.ts
  packages/xlucene-evaluator/package.json
Labels: bug, pkg/job-components, pkg/teraslice, pkg/utils

#1439 Fix test scripts when running in watch mode
  packages/scripts/package.json
  packages/scripts/src/cmds/test.ts
  packages/scripts/src/helpers/test-runner/index.ts
  packages/scripts/src/helpers/test-runner/utils.ts
  packages/scripts/test/test-runner-spec.ts
Labels: bug, pkg/scripts

#1448 Bump eslint-typescript packages
  package.json
  packages/eslint-config/package.json
  yarn.lock
Labels: dependencies
