Repository terascope/teraslice, pull requests merged in 2020-03, with the labels that each got.

#1716 patch of dataentity clonedeep keys
  packages/data-mate/package.json
  packages/data-types/package.json
  packages/elasticsearch-api/package.json
  packages/elasticsearch-store/package.json
  packages/generator-teraslice/package.json
  packages/job-components/package.json
  packages/scripts/package.json
  packages/terafoundation/package.json
  packages/teraslice-cli/package.json
  packages/teraslice-client-js/package.json
  packages/teraslice-messaging/package.json
  packages/teraslice-op-test-harness/package.json
  packages/teraslice-state-storage/package.json
  packages/teraslice-test-harness/package.json
  packages/teraslice/package.json
  packages/ts-transforms/package.json
  packages/utils/package.json
  packages/utils/src/deps.ts
  packages/utils/test/data-entity-spec.ts
  packages/utils/test/promises-spec.ts
  packages/xlucene-parser/package.json
  packages/xlucene-translator/package.json
Labels: pkg/utils

#1719 Fix clone deep
  packages/data-mate/package.json
  packages/data-types/package.json
  packages/elasticsearch-api/package.json
  packages/elasticsearch-store/package.json
  packages/generator-teraslice/package.json
  packages/job-components/package.json
  packages/scripts/package.json
  packages/terafoundation/package.json
  packages/teraslice-cli/package.json
  packages/teraslice-client-js/package.json
  packages/teraslice-messaging/package.json
  packages/teraslice-op-test-harness/package.json
  packages/teraslice-state-storage/package.json
  packages/teraslice-test-harness/package.json
  packages/teraslice/package.json
  packages/ts-transforms/package.json
  packages/utils/package.json
  packages/utils/src/deps.ts
  packages/utils/src/objects.ts
  packages/utils/test/data-entity-spec.ts
  packages/utils/test/deps-spec.ts
  packages/xlucene-parser/package.json
  packages/xlucene-translator/package.json
Labels: pkg/utils

#1720 Breaking changes to elasticsearch-store
  packages/elasticsearch-store/package.json
  packages/elasticsearch-store/src/index-model.ts
  packages/elasticsearch-store/src/index-store.ts
  packages/elasticsearch-store/src/interfaces.ts
  packages/elasticsearch-store/src/utils/model.ts
  packages/elasticsearch-store/test/index-model-spec.ts
  packages/elasticsearch-store/test/index-search-compatability-spec.ts
  packages/elasticsearch-store/test/index-store-spec.ts
  packages/elasticsearch-store/test/utils-spec.ts
Labels: pkg/elasticsearch-store

#1721 Add option to elasticsearch-store to enable index mutation
  packages/elasticsearch-store/package.json
  packages/elasticsearch-store/src/index-manager.ts
  packages/elasticsearch-store/src/index-model.ts
  packages/elasticsearch-store/src/index-store.ts
  packages/elasticsearch-store/src/interfaces.ts
  packages/teraslice/lib/storage/execution.js
  packages/teraslice/lib/storage/jobs.js
  scripts/upgrade.sh
  tsconfig.json
Labels: pkg/elasticsearch-store

#1758 Memory leak fixes
  README.md
  package.json
  packages/data-mate/package.json
  packages/data-mate/src/document-matcher/index.ts
  packages/data-types/package.json
  packages/elasticsearch-api/package.json
  packages/elasticsearch-store/package.json
  packages/elasticsearch-store/src/index-model.ts
  packages/generator-teraslice/package.json
  packages/job-components/package.json
  packages/scripts/package.json
  packages/terafoundation/package.json
  packages/terafoundation/src/connectors/s3.ts
  packages/teraslice-cli/package.json
  packages/teraslice-client-js/package.json
  packages/teraslice-messaging/package.json
  packages/teraslice-op-test-harness/package.json
  packages/teraslice-state-storage/package.json
  packages/teraslice-test-harness/package.json
  packages/teraslice/lib/cluster/services/cluster/backends/kubernetes/k8sResource.js
  packages/teraslice/package.json
  packages/ts-transforms/package.json
  packages/utils/bench/once.js
  packages/utils/package.json
  packages/utils/src/functions.ts
  packages/utils/src/promises.ts
  packages/xlucene-parser/package.json
  packages/xlucene-parser/src/parser.ts
  packages/xlucene-translator/package.json
  packages/xlucene-translator/src/query-access/query-access.ts
  packages/xlucene-translator/src/translator/translator.ts
Labels: pkg/elasticsearch-store, pkg/utils, pkg/xlucene-parser, pkg/xlucene-translator

#1763 Fix xLucene searching of tokenized fields with numeric values
  packages/data-mate/package.json
  packages/data-types/src/types/v1/ngram-tokens.ts
  packages/data-types/test/types/v1/keyword-case-insensitive-spec.ts
  packages/data-types/test/types/v1/keyword-tokens-case-insensitive-spec.ts
  packages/data-types/test/types/v1/ngram-tokens-spec.ts
  packages/elasticsearch-store/package.json
  packages/ts-transforms/package.json
  packages/xlucene-parser/package.json
  packages/xlucene-parser/src/context.ts
  packages/xlucene-parser/src/interfaces.ts
  packages/xlucene-parser/test/cases/parser/term.ts
  packages/xlucene-translator/package.json
  packages/xlucene-translator/test/cases/translator/term.ts
Labels: bug, pkg/xlucene-parser, pkg/xlucene-translator

#1781 ts-scripts test improvements
  jest.config.base.js
  jest.config.js
  package.json
  packages/docker-compose-js/package.json
  packages/scripts/package.json
  packages/scripts/src/cmds/publish.ts
  packages/scripts/src/cmds/sync.ts
  packages/scripts/src/helpers/bump/utils.ts
  packages/scripts/src/helpers/config.ts
  packages/scripts/src/helpers/interfaces.ts
  packages/scripts/src/helpers/packages.ts
  packages/scripts/src/helpers/sync/utils.ts
  packages/scripts/src/helpers/test-runner/index.ts
  packages/scripts/src/helpers/test-runner/services.ts
  packages/scripts/src/helpers/test-runner/utils.ts
  packages/scripts/src/index.ts
  yarn.lock
Labels: pkg/scripts

#1782 Update jest to 25.2.0 (for faster tests)
  package.json
  yarn.lock
Labels: dependencies
