Repository terascope/teraslice, pull requests merged in 2020-12, with the labels that each got.

#2335 Fix dataframe count with null values
  packages/data-mate/package.json
  packages/data-mate/src/column/aggregations.ts
  packages/data-mate/test/aggregation-frame-spec.ts
  packages/elasticsearch-store/package.json
  packages/ts-transforms/package.json
Labels: bug, pkg/data-mate

#2336 Fix valueToJSON serialization in ObjectVector
  packages/data-mate/package.json
  packages/data-mate/src/builder/types/ObjectBuilder.ts
  packages/data-mate/src/vector/types/ObjectVector.ts
  packages/data-types/package.json
  packages/elasticsearch-api/package.json
  packages/elasticsearch-store/package.json
  packages/generator-teraslice/package.json
  packages/job-components/package.json
  packages/scripts/package.json
  packages/terafoundation/package.json
  packages/teraslice-cli/package.json
  packages/teraslice-client-js/package.json
  packages/teraslice-messaging/package.json
  packages/teraslice-op-test-harness/package.json
  packages/teraslice-state-storage/package.json
  packages/teraslice-test-harness/package.json
  packages/teraslice/package.json
  packages/ts-transforms/package.json
  packages/utils/package.json
  packages/utils/src/empty.ts
  packages/utils/src/fp.ts
  packages/utils/src/index.ts
  packages/xlucene-parser/package.json
  packages/xlucene-translator/package.json
Labels: pkg/data-mate, pkg/utils

#2337 Improve xLucene geo shape validation
  packages/data-mate/package.json
  packages/data-types/package.json
  packages/elasticsearch-api/package.json
  packages/elasticsearch-store/package.json
  packages/generator-teraslice/package.json
  packages/job-components/package.json
  packages/scripts/package.json
  packages/terafoundation/package.json
  packages/teraslice-cli/package.json
  packages/teraslice-client-js/package.json
  packages/teraslice-messaging/package.json
  packages/teraslice-op-test-harness/package.json
  packages/teraslice-state-storage/package.json
  packages/teraslice-test-harness/package.json
  packages/teraslice/package.json
  packages/ts-transforms/package.json
  packages/utils/package.json
  packages/utils/src/geo.ts
  packages/utils/test/geo-spec.ts
  packages/xlucene-parser/package.json
  packages/xlucene-parser/src/functions/geo/box.ts
  packages/xlucene-parser/src/functions/geo/contains-point.ts
  packages/xlucene-parser/src/functions/geo/distance.ts
  packages/xlucene-parser/src/functions/geo/polygon.ts
  packages/xlucene-parser/src/functions/index.ts
  packages/xlucene-parser/src/parser.ts
  packages/xlucene-translator/package.json
Labels: pkg/utils, pkg/xlucene-parser

#2355 Data frame multi field order by
  packages/data-mate/package.json
  packages/data-mate/src/aggregation-frame/AggregationFrame.ts
  packages/data-mate/src/column/Column.ts
  packages/data-mate/src/core/utils.ts
  packages/data-mate/src/data-frame/DataFrame.ts
  packages/data-mate/src/index.ts
  packages/data-mate/src/vector/Vector.ts
  packages/data-mate/test/aggregation-frame-spec.ts
  packages/data-mate/test/data-frame-spec.ts
  packages/elasticsearch-store/package.json
  packages/ts-transforms/package.json
Labels: pkg/data-mate

#2357 Script timeout
  packages/scripts/package.json
  packages/scripts/src/helpers/test-runner/services.ts
Labels: pkg/scripts

#2387 DataFrame Aggs now work with Tuples
  packages/data-mate/package.json
  packages/data-mate/src/aggregation-frame/AggregationFrame.ts
  packages/data-mate/src/aggregation-frame/utils.ts
  packages/data-mate/src/vector/utils.ts
  packages/data-mate/test/aggregation-frame-spec.ts
  packages/elasticsearch-store/package.json
  packages/ts-transforms/package.json
Labels: pkg/data-mate
