Repository terascope/teraslice, pull requests merged in 2021-02, with the labels that each got.

#2471 AggregationFrame/DataFrame performance improvements
  packages/data-mate/bench/agg-perf-test.js
  packages/data-mate/bench/aggregrate-suite.js
  packages/data-mate/package.json
  packages/data-mate/src/aggregation-frame/AggregationFrame.ts
  packages/data-mate/src/column/aggregations.ts
  packages/data-mate/src/data-frame/DataFrame.ts
  packages/data-mate/src/vector/utils.ts
  packages/data-mate/test/data-frame-spec.ts
  packages/data-types/package.json
  packages/elasticsearch-api/package.json
  packages/elasticsearch-store/package.json
  packages/generator-teraslice/package.json
  packages/job-components/package.json
  packages/scripts/package.json
  packages/terafoundation/package.json
  packages/teraslice-cli/package.json
  packages/teraslice-client-js/package.json
  packages/teraslice-messaging/package.json
  packages/teraslice-op-test-harness/package.json
  packages/teraslice-state-storage/package.json
  packages/teraslice-test-harness/package.json
  packages/teraslice/package.json
  packages/ts-transforms/package.json
  packages/utils/package.json
  packages/utils/src/big-set.ts
  packages/utils/src/event-loop.ts
  packages/utils/src/index.ts
  packages/utils/test/big-set-spec.ts
  packages/xlucene-parser/package.json
  packages/xlucene-translator/package.json
  packages/xpressions/package.json
Labels: pkg/data-mate, pkg/utils

#2475 Geo-Point parsing fix
  packages/data-mate/package.json
  packages/data-types/package.json
  packages/elasticsearch-api/package.json
  packages/elasticsearch-store/package.json
  packages/generator-teraslice/package.json
  packages/job-components/package.json
  packages/scripts/package.json
  packages/terafoundation/package.json
  packages/teraslice-cli/package.json
  packages/teraslice-client-js/package.json
  packages/teraslice-messaging/package.json
  packages/teraslice-op-test-harness/package.json
  packages/teraslice-state-storage/package.json
  packages/teraslice-test-harness/package.json
  packages/teraslice/package.json
  packages/ts-transforms/package.json
  packages/utils/package.json
  packages/utils/src/geo.ts
  packages/utils/test/geo-spec.ts
  packages/xlucene-parser/package.json
  packages/xlucene-translator/package.json
  packages/xpressions/package.json
  yarn.lock
Labels: pkg/utils

#2472 Add support for DataFrame->search(query)
  packages/data-mate/bench/data-frame-search-suite.js
  packages/data-mate/package.json
  packages/data-mate/src/data-frame/DataFrame.ts
  packages/data-mate/src/data-frame/search-utils.ts
  packages/data-mate/src/document-matcher/logic-builder/dates.ts
  packages/data-mate/src/document-matcher/logic-builder/index.ts
  packages/data-mate/src/document-matcher/logic-builder/ip.ts
  packages/data-mate/test/data-frame-spec.ts
  packages/elasticsearch-store/package.json
  packages/ts-transforms/package.json
  packages/xlucene-parser/package.json
  packages/xlucene-parser/peg/lucene.pegjs
  packages/xlucene-parser/src/context.ts
  packages/xlucene-parser/src/interfaces.ts
  packages/xlucene-parser/src/parser.ts
  packages/xlucene-parser/src/utils.ts
  packages/xlucene-parser/test/cases/empty.ts
  packages/xlucene-parser/test/cases/exists.ts
  packages/xlucene-parser/test/cases/field-group.ts
  packages/xlucene-parser/test/cases/geo.ts
  packages/xlucene-parser/test/cases/interfaces.ts
  packages/xlucene-parser/test/cases/logical-group.ts
  packages/xlucene-parser/test/cases/negation.ts
  packages/xlucene-parser/test/cases/range.ts
  packages/xlucene-parser/test/cases/regexp.ts
  packages/xlucene-parser/test/cases/term.ts
  packages/xlucene-parser/test/cases/wildcard.ts
  packages/xlucene-parser/test/parser-spec.ts
  packages/xlucene-translator/package.json
  packages/xlucene-translator/src/query-access/query-access.ts
  packages/xlucene-translator/src/translator/utils.ts
Labels: pkg/data-mate, pkg/xlucene-parser

#2454 v0.72.1 - Serialize asset unzipping and update e2e tests
  .travis.yml
  docs/asset-bundles/development.md
  docs/jobs/builtin-operations.md
  docs/jobs/configuration.md
  docs/packages/teraslice-client-js/overview.md
  e2e/test/cases/assets/simple-spec.js
  e2e/test/download-assets.js
  e2e/test/fixtures/jobs/generate-to-es.json
  e2e/test/fixtures/jobs/generator-asset.json
  e2e/test/fixtures/jobs/generator.json
  e2e/test/fixtures/jobs/id.json
  e2e/test/fixtures/jobs/kafka-reader.json
  e2e/test/fixtures/jobs/multisend.json
  e2e/test/fixtures/jobs/reindex.json
  e2e/test/global.setup.js
  e2e/test/misc.js
  examples/jobs/data_generator.json
  examples/jobs/hitcounter.json
  examples/jobs/reindex.json
  examples/jobs/script/test_script_job.json
  examples/k8s/example-job-labels.json
  examples/k8s/example-job-resource.json
  examples/k8s/example-job-targets.json
  examples/k8s/example-job-volume.json
  examples/k8s/example-job-with-image.json
  examples/k8s/example-job.json
  examples/k8s/sample-job.json
  package.json
  packages/teraslice-cli/package.json
  packages/teraslice-cli/src/cmds/tjm/init.ts
  packages/teraslice-cli/src/helpers/asset-src.ts
  packages/teraslice-cli/test/fixtures/cliJobFile.json
  packages/teraslice-client-js/examples/submit.js
  packages/teraslice/lib/storage/assets.js
  packages/teraslice/lib/utils/asset_utils.js
  packages/teraslice/lib/utils/file_utils.js
  packages/teraslice/package.json
  packages/teraslice/test/utils/asset_utils-spec.js
Labels: bug, ci

#2503 Add skipEmptyArrays to DataFrame serialize options
  packages/data-mate/package.json
  packages/data-mate/src/vector/ListVector.ts
  packages/data-mate/src/vector/interfaces.ts
  packages/data-mate/src/vector/types/TupleVector.ts
  packages/elasticsearch-store/package.json
  packages/ts-transforms/package.json
Labels: pkg/data-mate

#2504 Add hook support to scripts
  e2e/package.json
  package.json
  packages/data-types/package.json
  packages/eslint-config/lib/overrides.js
  packages/eslint-config/package.json
  packages/eslint-config/test/index-spec.js
  packages/generator-teraslice/package.json
  packages/scripts/package.json
  packages/scripts/src/helpers/bump/index.ts
  packages/scripts/src/helpers/hooks.ts
  packages/scripts/src/helpers/interfaces.ts
  packages/scripts/src/helpers/sync/index.ts
  packages/scripts/src/index.ts
  packages/terafoundation/package.json
  packages/teraslice-cli/package.json
  packages/teraslice-client-js/package.json
  packages/teraslice-messaging/package.json
  packages/teraslice-test-harness/package.json
  packages/teraslice-test-harness/test/dowload-external-asset-spec.ts
  packages/teraslice/package.json
  yarn.lock
Labels: pkg/scripts

#2506 Add limit to DataFrame.appendAll
  packages/data-mate/package.json
  packages/data-mate/src/aggregation-frame/AggregationFrame.ts
  packages/data-mate/src/data-frame/DataFrame.ts
  packages/data-mate/test/data-frame-spec.ts
  packages/elasticsearch-store/package.json
  packages/ts-transforms/package.json
Labels: pkg/data-mate

#2522 Fixes to ts-scripts syncing and hooks
  packages/eslint-config/package.json
  packages/scripts/package.json
  packages/scripts/src/helpers/bump/index.ts
  packages/scripts/src/helpers/hooks.ts
  packages/scripts/src/helpers/packages.ts
  packages/scripts/src/helpers/sync/configs.ts
  packages/scripts/src/helpers/sync/index.ts
  packages/scripts/src/helpers/sync/utils.ts
  packages/scripts/test/sync-spec.ts
Labels: pkg/scripts

#2523 Add special flags to ts-scripts bump and publish
  packages/scripts/package.json
  packages/scripts/src/cmds/bump.ts
  packages/scripts/src/cmds/publish.ts
  packages/scripts/src/helpers/bump/interfaces.ts
  packages/scripts/src/helpers/bump/utils.ts
  packages/scripts/src/helpers/publish/index.ts
  packages/scripts/src/helpers/publish/interfaces.ts
  packages/scripts/src/helpers/publish/utils.ts
  packages/scripts/test/bump-spec.ts
Labels: pkg/scripts
