Repository terascope/teraslice, pull requests merged in 2024-05, with the labels that each got.

#3594 add prom metrics api to terafoundation
  docs/configuration/clustering-k8s.md
  docs/configuration/overview.md
  docs/development/k8s.md
  e2e/package.json
  package.json
  packages/data-mate/package.json
  packages/data-types/package.json
  packages/elasticsearch-api/package.json
  packages/elasticsearch-store/package.json
  packages/generator-teraslice/package.json
  packages/job-components/package.json
  packages/job-components/src/execution-context/base.ts
  packages/job-components/src/execution-context/slicer.ts
  packages/job-components/src/execution-context/worker.ts
  packages/job-components/src/interfaces/context.ts
  packages/job-components/src/interfaces/jobs.ts
  packages/job-components/src/job-schemas.ts
  packages/job-components/src/test-helpers.ts
  packages/job-components/test/config-validators-spec.ts
  packages/job-components/test/test-helpers-spec.ts
  packages/scripts/package.json
  packages/terafoundation/package.json
  packages/terafoundation/src/api/index.ts
  packages/terafoundation/src/api/prom-metrics/exporter.ts
  packages/terafoundation/src/api/prom-metrics/prom-metrics-api.ts
  packages/terafoundation/src/interfaces.ts
  packages/terafoundation/src/schema.ts
  packages/terafoundation/src/test-context.ts
  packages/terafoundation/test/apis/api-spec.ts
  packages/terafoundation/test/apis/exporter-spec.ts
  packages/terafoundation/test/apis/prom-metrics-spec.ts
  packages/terafoundation/test/test-context-spec.ts
  packages/teraslice-cli/package.json
  packages/teraslice-client-js/package.json
  packages/teraslice-messaging/package.json
  packages/teraslice-op-test-harness/package.json
  packages/teraslice-state-storage/package.json
  packages/teraslice-test-harness/package.json
  packages/teraslice/package.json
  packages/teraslice/src/lib/cluster/cluster_master.ts
  packages/teraslice/src/lib/cluster/services/assets.ts
  packages/teraslice/test/services/assets-spec.ts
  packages/teraslice/worker-service.js
  packages/ts-transforms/package.json
  packages/types/package.json
  packages/types/src/terafoundation.ts
  packages/utils/package.json
  packages/xlucene-parser/package.json
  packages/xlucene-translator/package.json
  packages/xpressions/package.json
  yarn.lock
Labels: feature

#3602 Add and Set Prometheus Metrics
  packages/job-components/package.json
  packages/job-components/src/execution-context/slicer.ts
  packages/job-components/src/execution-context/worker.ts
  packages/teraslice-op-test-harness/package.json
  packages/teraslice-test-harness/package.json
  packages/teraslice/package.json
  packages/teraslice/src/lib/cluster/cluster_master.ts
  packages/teraslice/src/lib/cluster/services/api.ts
Labels: enhancement, k8s, pkg/teraslice, pkg/job-components

#3623 Add node22 to teraslice-cli
  packages/teraslice-cli/package.json
  packages/teraslice-cli/src/helpers/yargs-options.ts
Labels: enhancement, pkg/teraslice-cli
