Repository terascope/teraslice, pull requests merged in 2024-07, with the labels that each got.

#3667 Add k8s-env --dev option
  Dockerfile.dev
  e2e/k8s/kindConfigDefaultPortsDev.yaml
  package.json
  packages/scripts/package.json
  packages/scripts/src/cmds/k8s-env.ts
  packages/scripts/src/helpers/interfaces.ts
  packages/scripts/src/helpers/k8s-env/index.ts
  packages/scripts/src/helpers/k8s-env/interfaces.ts
  packages/scripts/src/helpers/k8s-env/k8s.ts
  packages/scripts/src/helpers/kind.ts
  packages/scripts/src/helpers/publish/interfaces.ts
  packages/scripts/src/helpers/publish/utils.ts
  packages/scripts/src/helpers/scripts.ts
  packages/teraslice/src/lib/cluster/services/cluster/backends/kubernetes/k8sResource.ts
  yarn.lock
Labels: enhancement, k8s, pkg/scripts, feature

#3673 Remove references to op test harness
  docs/assets/teraslice-packages.excalidraw
  docs/assets/teraslice-packages.png
  docs/packages/teraslice-op-test-harness/overview.md
  docs/packages/teraslice-test-harness/overview.md
  packages/teraslice-test-harness/package.json
  packages/teraslice-test-harness/src/interfaces.ts
  packages/teraslice/package.json
  website/sidebars.json
  yarn.lock
Labels: documentation, chore, dependencies

#3691 Add binary support to is base64
  e2e/package.json
  packages/data-mate/package.json
  packages/data-mate/src/validations/field-validator.ts
  packages/data-mate/test/field_validator-spec.ts
  packages/elasticsearch-api/package.json
  packages/elasticsearch-store/package.json
  packages/terafoundation/package.json
  packages/teraslice/package.json
  packages/ts-transforms/package.json
Labels: bug, pkg/data-mate
